body{
    background-image: url("/images/style-naxx/Background.jpg");
    color: yellowgreen;
    text-shadow: 0px 0px 10px yellowgreen;
}

nav{  
    background-image: url("/images/style-naxx/Barra.jpg");
}

#navbarDropdownMenuLink{
    color: yellowgreen;
    text-shadow: 0px 0px 10px yellowgreen;
    font-weight: bold;
    font-style: italic;
}

a{
    color: yellowgreen;
    text-shadow: 0px 0px 10px yellowgreen;
}

#Tabs{
    color: yellowgreen;
    text-shadow: 0px 0px 10px yellowgreen;  
    font-weight: bold;
    font-style: italic;
}

#BarraLinkC{
    color: yellowgreen;
    text-shadow: 0px 0px 10px yellowgreen;
    font-weight: bold;
}
#ventanaTitulo{
    background-image: url("/images/style-naxx/Barra.jpg");
    color: yellowgreen;
    text-shadow: 0px 0px 10px yellowgreen;
    font-weight: bold;
}

#ventanaCuerpo{
    background-image: url("/images/style-naxx/Barra.jpg");
    color: yellowgreen;
    text-shadow: 0px 0px 10px yellowgreen;
}

button{
    background-color: transparent;
    color: yellowgreen;
    text-shadow: 0px 0px 10px yellowgreen;
    font-style: italic;
}

a{
    color: yellowgreen;
    text-shadow: 0px 0px 10px yellowgreen;
}
#grupoA_Tab{
    background-color: transparent;
    color: yellowgreen;
    text-shadow: 0px 0px 10px yellowgreen;
}

#grupoB_Tab{
    background-color: transparent;
    color: yellowgreen;
    text-shadow: 0px 0px 10px yellowgreen;
}

#grupoC_Tab{
    background-color: transparent;
    color: yellowgreen;
    text-shadow: 0px 0px 10px yellowgreen;
}

#grupoD_Tab{
    background-color: transparent;
    color: yellowgreen;
    text-shadow: 0px 0px 10px yellowgreen;
}
#desplegable{
    background-image: url("/images/style-naxx/Barra.jpg");
    color: yellowgreen;
    text-shadow: 0px 0px 10px yellowgreen;
    font-weight: bold;
}
#desplegableI{
    background-color: transparent;
    color: yellowgreen;
    text-shadow: 0px 0px 10px yellowgreen;
    font-weight: bold;
}