body{
    background-image: url("/images/style-naxx/background.jpg");
    color: yellowgreen;
    text-shadow: 0px 0px 10px yellowgreen;
}

nav{  
    background-image: url("/images/style-naxx/barra.jpg");
}

.navbar-toggler-icon{
    color: yellowgreen;
    text-shadow: 0px 0px 10px yellowgreen;
}

.navbar-toggler{
    border-color: yellowgreen;
}

    
.nav-link{
    color: yellowgreen;
    text-shadow: 0px 0px 10px yellowgreen;
    font-weight: bold;
}

.dropdown-toggle{    
    color: yellowgreen;
    text-shadow: 0px 0px 10px yellowgreen;
    font-weight: bold;
    font-style: italic;
}

.dropdown-menu{
    color: yellowgreen;
    text-shadow: 0px 0px 10px yellowgreen;
    font-weight: bold;
    font-style: italic;    
    background-image: url("/images/style-naxx/barra.jpg");
}
.dropdown-item:hover{
    background-color: transparent;
}
.nav-tabs > .nav-item > .nav-link{
    background-color: transparent;
    color: yellowgreen;
    text-shadow: 0px 0px 10px yellowgreen;
    font-weight: bold;
    font-style: italic;
}

.nav-tabs > .nav-item > .nav-link:hover{
    background-color: #202050;
}

.nav-link:hover{
    color:yellowgreen;
}

.modal-body{
    background-image: url("/images/style-naxx/background.jpg");
    color: yellowgreen;
    text-shadow: 0px 0px 10px yellowgreen;
}

.modal-header{
    color: yellowgreen;
    text-shadow: 0px 0px 10px yellowgreen;
    background-image: url("/images/style-naxx/barra.jpg");
}

button > span{
    color: yellowgreen;
    text-shadow: 0px 0px 10px yellowgreen;
}