body{
    background-image: url("/images/style-def/Background.jpg");
    color: sienna;
}

.text{
    color: darkgoldenrod;    
}

nav{
    background-image: url("/images/style-def/Barra.jpg");
}

.nav-link{
    color: darkgoldenrod;
    font-weight: bold;
}

.dropdown-toggle{    
    color: darkgoldenrod;
    font-style: italic;
}