body{
    background-image: url("/images/style-def/Background.jpg");
    color: sienna;
    
}

nav{
    background-image: url("/images/style-def/Barra.jpg");
}

.navbar-toggler-icon{
    color: darkgoldenrod;
}

.navbar-toggler{
    border-color: darkgoldenrod;
}

    
.nav-link{
    color: darkgoldenrod;
    font-weight: bold;
}

.dropdown-toggle{    
    color: darkgoldenrod;
    font-style: italic;
}

.dropdown-menu{
    color: darkgoldenrod;
    font-style: italic;
    background-image: url("/images/style-def/Barra.jpg");
}
.dropdown-item:hover{
    background-color: transparent;
}
.nav-tabs > .nav-item > .nav-link{
    background-color: transparent;
    color:sienna;
    font-style: italic; 
}

.nav-tabs > .nav-item > .nav-link:hover{
    background-color: #b86607;
}

.nav-link:hover{
    color: sienna;
}

.modal-body{
    background-image: url("/images/style-def/Background.jpg");
    color:sienna
}

.modal-header{
    color: darkgoldenrod;
    background-image: url("/images/style-def/Barra.jpg");
}

button > span{
    color:darkgoldenrod;
}


.btn-primary {
	background-color: transparent;
	border-color: darkgoldenrod;
	color: darkgoldenrod;
}

.btn-primary:hover {
	background-color: sienna;
	border-color: darkgoldenrod;
	color: #000080;
}