{% extends 'layout.twig' %}


{% block body %}
    <div>
        <br/>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-3">                
                <input class="form-control" type="" value="" id="asd">
            </div>
            <div class="col-1">
                <button type="submit" class="btn" onclick="buscar('asd')">Buscar</button>
            </div>
            <div class="col-4"></div>
        </div>
        <br/>

        <div id="resultado">
        </div>



    </div>
{% endblock %}