{% extends 'layout.twig' %}

{% block body %}
    <br/>
    <div class="row">
        <div class="col"></div>
        <div class="col-2">
            <input placeholder="" type="text" id="parametro">
        </div>
        <div class="col-1">
            <button type="button" class="btn" onclick="buscarcartas()">Buscar</button>
        </div>
        <div class="col"></div>        
    </div>
    <br/>
    <div id="resultados">
        
    </div>
{% endblock %}