{% extends 'layout.twig' %}

{% block head %}
    <script src="/javascripts/buscador.js"></script>
    <style>
        div > img {cursor: pointer;}
    </style>
{% endblock %}

{% block body %}
    <div>
        <br/>
        <div id="resultado" align="center">
            asd
        </div>
    </div>

{% endblock %}