{% extends 'layout.twig' %}

{% block body %}
<div class="container">
    <div class="titulo">
        <h1>{{title}}</h1>
    </div>
    <div class="menu">
        <table id="tabla">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Puntaje</th>
                    <th>Mazos</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock %}