{% extends 'layout.twig' %}

{% block body %}
    
    <button onclick="obtenerUsuario();">
        ASDASD
        </button>
    
     <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <img src="/images/titulo.png" class="img-fluid" alt="TITULO"/>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="jugadores"><img src="/images/buttons/jugadores.png" class="img-fluid" alt="JUGADORES"/></a>
            </div>
            <div class="col-3">
                <a href="grupos"><img src="../images/buttons/grupos.png" class="img-fluid" alt="GRUPOS"/></a>
            </div>
            <div class="col-3">
                <a href="partidos"><img src="../images/buttons/partidos.png" class="img-fluid" alt="PARTIDOS"/></a>
            </div>
            <div class="col-3">
                <a href="estadisticas"><img src="../images/buttons/estadisticas.png" class="img-fluid" alt="ESTADISTICAS"/></a>
            </div>
        </div>
    </div>
{% endblock %}